#about-wrapper {
  flex-direction: column;
  width: 80%;
  margin: auto;
}

h2 {font-size: 2em;}
h3 {
  font-size: 1.3em;
}
p {
  font-size: 1em;
}

.card {
  background-color: rgba(0,0,0,0.8);
  width: 100%;
  min-width: 100% !important;
}

.btn .btn-link .collapsed{
  width: 100% !important;
}