html {
  min-height: 100%;
}

body {
  background-image: url("../images/project-background-1.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  z-index: 0;
  overflow: scroll;
  min-height: 95vh;
}

.navbar {
  height: 5em !important;
  padding: 0.5em 1em;
  position: relative !important;
  z-index: 0

}

.navbar-expand-lg {
  justify-content: space-between;
}

.navbar-collapse {
  flex-grow: 0 !important;
}

.nav-link {
  color: #4F8828 !important;
  float: right;
  margin: 0rem 1rem;
  font-size: 1.3rem;
  padding-right: 0 !important;
  line-height: 2.5em;
}
.nav-item {
  height: 100%;
}

.nav-item:hover {
  color: rgb(34, 139, 34);
  transform: scale(1.2, 1.2);
  text-decoration: none;
}

.navbar-toggler,
.navbar-nav {
  z-index: 99;
  height: 100%;
}
.navbar-toggler {
  border-color: #327701 !important;
}

.active {
  font-weight: bold;
}

#hamburger-helper {
  display: none;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  height: fit-content;
  position: fixed;
  z-index: 9999;
  background-color: white;
  right: 0;
  top: 5em;
  padding: 0.2em 3%;
}

.drop-link {
  padding: 0;
  height: 2em;
  line-height: 2em;
}

#title h1 {
  color: rgb(122, 62, 22);
  font-family: "Eczar", serif;
  font-weight: bold;
  letter-spacing: 0.2rem;
  margin: 0;
  font-size: 1.6em;
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 0;
  line-height: 2.5em;
}

.navbar-brand,
#logo {
  height: 100%;
  width: auto;
  padding: 0;
  margin: 0;
}

#title {
  float: none;
  text-align: center;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#index-wrapper {
  width: 100%;
  margin: auto;
  flex: 1 0 auto;
}
.container {
  padding: 0px;
}

#instructions h2 {
  font-family: "Eczar", serif;
  font-weight: 500;
  text-align: center;
  margin-bottom: 0;
}
#instructions p {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  margin-bottom: 0;
}
#instructions,
.card-title {
  font-family: "Eczar", serif;
  font-weight: 700;
  letter-spacing: 0.06em;
}

.card-body {
  padding: 1em 0;
}

.card-sm {
  position: relative;
  top: 300px;
}

.jumbotron {
  position: relative;
  top: 100%;
  background: rgba(250, 250, 250, 0);
}

h1,
h2,
h3 {
  text-align: center;
}

a:hover {
  text-decoration: none;
}

#heading-box {
  background-color: #406625;
  opacity: 0.85;
  z-index: 1;
  width: 100%;
  height: fit-content;
  position: relative;
  top: 0px;
  padding: 20px;
  margin: 2rem auto;
}

#instructions {
  opacity: 100%;
  z-index: 99;
  position: relative;
  bottom: 0px;
  top: 0px;
  width: 98%;
  height: fit-content;
  border: solid white 5px;
  padding: 10px;
  text-align: center;
}

.card-img-top {
  margin-top: 10px;
  width: 100%;
  height: 300px;
}

.card {
  margin-block-end: 15px;
  padding-bottom: 15px;
  background-color: rgb(169, 84, 27, 0.9);
  color: white;
}

footer {
  flex-shrink: 0;
}

.card-title h5,
.card-text p,
.footer-copyright {
  color: #f8f9fa !important;
}

.slideUp,
.slideDown {
  animation-duration: 0.7s !important;
  width: 100% !important;
}

@media only screen and (min-width: 440px) and (max-width: 999px) {
  .navbar {
    padding: 0.5em 6%;
  }
}
@media only screen and (min-width: 660px) {
  #instructions {
    font-size: 1.3em;
  }
}


@media only screen and (min-width: 768px) and (max-width: 999px) {
  .navbar-toggler {
    display: none;
  }

  .collapse {
    display: flex !important;
  }

  .navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto !important;
    flex-basis: auto !important;
  }

  .navbar-nav {
    width: 100% !important;
    display: flex !important;
    flex-direction: row !important;
  }
}

@media only screen and (min-width: 1000px) {
  .navbar {
    padding: 0.5em 10%;
  }

  .jumbotron {
    padding: 5% 10%;
    width: 100%;
  }
}

@media only screen and (max-width: 1000px) {

  .card-img-top {
    height: 220px;
  }
}

@media only screen and (max-width: 780px) {

  .card-img-top {
    height: auto;
    max-height: 320px;
  }
}

@media only screen and (max-width: 660px) {
  #instructions {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 380px) {
  #instructions {
    font-size: 1em;
  }
  #title h1 {
    font-size: 1.4em;
  }
  .navbar {
    height: 4em !important;
  }
  #hamburger-helper {
    top: 4em;

  }
}